{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
<div class="main">
    <h1>Instagram Clone</h1>
    <h3>Sign up</h3>
    <h4> {{today}} </h4>
</div>

<div>
<form method="post">
{% csrf_token %}
    <div>
        <label for="username">Username:</label>
        <input id="username" type="text"  name="username" value={{ username }} >
    </div>
    <br>
    <div>
        <label for="name">Name:</label>
        <input id="name" type="text"  name="name" value={{ name }} >
    </div>
    <br>
    <div>
        <label for="email">Email:</label>
        <input id="email" type="text"  name="email" value={{ email }} >
    </div>
    <br>
    <div>
        <label for="password">Password:</label>
        <input id="password" type="password"  name="password" value={{ password }} >
    </div>
    <br>
    <input type="submit" value="Sign up">
</form>
</div>
<div>
    <h3>Already a user?</h3>
    <a href="/login/">LogIn</a>
</div>

</body>
</html>